<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <h1 class="opacity">LOGIN</h1>
                <form id="login_form" #contact_form="ngForm" (ngSubmit)="submitForm(username, password)">
                    <input type="text" placeholder="USERNAME" name="username" id="name_input" [(ngModel)]="username"
                        required />
                    <input type="password" placeholder="PASSWORD" name="password" id="password_input"
                        [(ngModel)]="password" required />
                    <button class="opacity" type="submit" id="submit-btn">SUBMIT</button>
                    
                </form>
                <div class="register-forget opacity">
                    <a href="">FORGOT PASSWORD</a>
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
       
    </section>
</body>